li.has-no-objects {
    visibility: hidden;
    display: none;
}

#institute-address .address-supplement:after {
    content: "\a";
    white-space: pre;
}

#institute-address .house-identifier:after {
    content: "\a";
    white-space: pre;
}


.klick {
    border: 1px solid black;
}
.klick form {
    opacity: 0;
}
.klick form .ui-input-text {
    margin: 0px;
}